/* Styles for adri web */
.mrg-top {
	margin-top: 15px;
}
.mrg-top-lg {
	margin-top: 25px;
}
.pdn-top-lg {
	padding-top: 25px;
}
.navbar-default {
	background-color: #2F3E9E;
}
.header-img {
	background-image: url(../img/background2.jpg); 
	background-size: cover;
	background-position: center;
	width: 100%;
	height: auto;
  	padding-bottom: 15px;
}
.format-letters {		
	color: white;
	font-size: 40px;
	letter-spacing: 0;
	text-shadow: -1px -1px 1px #333, 1px -1px 1px #333, -1px 1px 1px #333, 1px 1px 1px #333;
}
hr.star-light:after {	
	background-color: white;
	color: gray;	
}
section.success {	
	background-color: #3E50B4;
}
footer .footer-above {
	background-color: #3E50B4;	
}
.btn-send {
	background-color: #5A5AFF;
	border: 0px;
}
.jobs{
	background-color: white;
}
.logos-jobs {
	text-align: center;
}
.logo-fhios{
	padding-top: 10px;
	width: 75%;
}
.altran-logo {
	width: 150px;	
}
#language-icon-en {
	background-image:url('../img/language-icons/uk.ico');
	background-color: transparent; 
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    vertical-align: middle; 
}
#language-icon-es {
	background-image:url('../img/language-icons/sp.png');
	background-color: transparent;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    vertical-align: middle; 
}
.small-btn {
    width: 32px;
    height: 32px;
}
.languages {
	padding-left: 15px;
	padding-top: 15px;
}
@media (max-width: 767px){
	body {
		font-size: 10px;
	}
	#portfolio .portfolio-item {
	    right: 0;
	    margin: 0 0 30px;
	}
	header .intro-text .skills {
	    font-size: 2em;
	    font-weight: 300;
	}
	p {
		font-size: 22px;
	}
	.footer-below {
		font-size: 1.4em;
	}
}

@media (min-width: 768px){	
	.navbar-brand{
    	font-size: 1.5em; 
	}
	header .intro-text .name {
    	font-size: 3em;
	}
	header .intro-text .skills {
    	font-size: 1.6em;
	}
}	    

